/* MAIN */
.company-info .unique,
.company-info .bespoke,
.company-info .handcrafted {
   padding-bottom: 3rem;
   padding-top: 3rem;
}

.image-1-container, .image-2-container, .image-3-container {
   overflow: hidden;
   width: 100%;
}

.image-1, .image-2, .image-3 {
   height: 35vh;
   object-fit: cover;
   overflow: hidden;
   width: 100%;
}

/* TABLET STYLES */
@media screen and (min-width: 768px) and (max-width: 1023px) {

   .company-info {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(2, 1fr);
      padding: 2rem;
   }

   .ig-logo {
      left: 39%;
   }

   .unique {
      order: 0;
   }

   .bespoke {
      order: 4;
   }

   .handcrafted {
      order: 4;
   }

   .image-1-container {
      order: 1;
   }

   .image-2-container {
      order: 3;
   }

   .image-3-container {
      order: 5;
   }

   .footer-logo {
      font-size: 3rem;
   }

   .image-1, .image-2, .image-3 {
      height: 100%;
      object-fit: cover;
      overflow: hidden;
      width: 100%;
   }
}

/* DESKTOP STYLES */
@media screen and (min-width: 1024px) {
   .company-info {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(3, 1fr);
      padding: 2rem;
   }

   .company-info .unique p,
   .company-info .bespoke p,
   .company-info .handcrafted p {
      padding-left: 2rem;
      padding-right: 2rem;
   }

   .unique {
      order: 3;
   }

   .bespoke {
      order: 4;
   }

   .handcrafted {
      order: 5;
   }

   .image-1-container {
      order: 0;
   }

   .image-2-container {
      order: 1;
   }

   .image-3-container {
      order: 2;
   }

   .footer-logo {
      font-size: 3.5rem;
   }   
}