/* GENERAL STYLING */
/* html {
   font-size: 62.5%;
}

body {
   padding: 0;
   margin: 0;
   padding-top: 7rem;
}

h1 {
   font-family: 'Montserrat', sans-serif;
   font-size: 1.6rem;
   color: #1A1B1D;
   text-align: center;
}

h2 {
   font-family: 'Montserrat', sans-serif;
   font-size: 1.6rem;
   color: #1A1B1D;
   text-align: center;
}

h3 {
   font-family: 'Great Vibes', cursive;
   font-size: 2rem;
   color: #1A1B1D;
   text-align: center;
}

p {
   font-family: 'Montserrat', sans-serif;
   font-size: 1.3rem;
   color: #1A1B1D;
   padding-left: 6rem;
   padding-right: 6rem;
} */

/* HEADER */
/* .main-header {
   background-color: whitesmoke;
   display: flex;
   justify-content: space-between;
   align-items: center;
   box-shadow: 0 3px 0 0 rgba(26, 27, 29, 0.2);    
   position: fixed;
   top: 0;
   width: 100%;
   height: 7rem;
   z-index: 5;
}

.brand-name {
   margin: 0;
}

.ig-logo {
   font-family: 'Great Vibes', cursive;
   font-size: 2.5rem;
   color: #CAB9A8;
}

.menu-icon, .search-icon {
   padding-right: 2rem;
   padding-left: 2rem;
   height: 2rem;
} */

/* CONTACT HEADER  */
.contact {
   padding-top: 3rem;
   padding-bottom: 3rem;
   text-align: center;
}

/* SOCIAL CONTACT */
.social-info p {
   text-align: center;
   padding-bottom: 1rem;
}

/* CONTACT DETAILS */
.contact-details::before {
   content: "";
   display: block;
   border-top: 2px solid #E6E3DD;
   width: 30%;
   margin: 0 auto;
   margin-top: 3rem;
}

.contact-details .contact-info {
   padding: 3rem;
   margin: 0;
}

.contact-info {
   text-align: center;
}

.contact-details .contact-info li {
   font-family: 'Montserrat', sans-serif;
   font-size: 1.3rem;
   color: #1A1B1D;
   padding-left: 1rem;
   padding-top: 1rem;
   padding-right: 3rem;
   padding-bottom: 3rem;
   list-style-type: none;
}

.contact-form {
   border: none;
   background-color: #E6E3DD;
   margin-left: 5rem;
   margin-right: 5rem;
   margin-bottom: 5rem;
   /* padding: 5rem; */
}

fieldset {
   border: none;
   padding: 1rem;
}

button {
   border: none;
   border-radius: 20px;
   height: 4rem;
   width: 10rem;
}

.sewing-studio img {
   height: auto;
   width: 100%;
}

/* FOOTER */
/* .main-footer {
   background-color: #E1D7C9;
}

.footer-logo {
   font-family: 'Great Vibes', cursive;
   color: #1A1B1D;
   font-size: 2.3rem;
   padding-top: 2rem;
   padding-bottom: 2rem;
   margin: 0;
}

.social-icons {
   display: flex;
   justify-content: center;
}

svg {
   padding-right: 1rem;
   padding-left: 1rem;
   height: 2rem;
}

.footer-contact-info {
   color: #1A1B1D;
   text-align: center;
   padding-top: 1rem;
   padding-bottom: 1rem;
}

.footer-copy {
   color: #1A1B1D;
   text-align: center;
   margin: 0;
   padding-bottom: 1rem;
} */

/* Tablet Styles */
@media screen and (min-width: 768px) and (max-width: 1023px) {
   .contact {
      padding-left: 6rem;
      padding-right: 6rem;
   }

   .contact-info {
      display: grid;
      grid-template-columns: 1fr 1fr;
   }

   .contact-info li {
      border-left: 2px solid #E6E3DD;
   }

   .contact-details::before {
      border: none;
   }

   .contact-info li:first-child, .contact-info li:nth-child(3) {
      border-left: none;
   }

   .footer-logo {
      font-size: 3rem;
   }
}

/* Desktop Styles */
@media screen and (min-width: 1024px) {
   .contact {
      padding-left: 6rem;
      padding-right: 6rem;
   }

   .contact-info {
      display: grid;
      grid-template-columns: 1fr 1fr;
   }

   .contact-info li {
      border-left: 2px solid #E6E3DD;
   }

   .contact-details::before {
      border: none;
   }

   .contact-info li:first-child, .contact-info li:nth-child(3) {
      border-left: none;
   }

}