/* CONTACT HEADER  */
.contact {
   padding-top: 3rem;
   padding-bottom: 3rem;
   text-align: center;
}

/* SOCIAL CONTACT */
.social-info p {
   text-align: center;
   padding-bottom: 1rem;
}

/* CONTACT DETAILS */
.contact-details::before {
   content: "";
   display: block;
   border-top: 2px solid #E6E3DD;
   width: 30%;
   margin: 0 auto;
   margin-top: 3rem;
}

.contact-details .contact-info {
   padding: 3rem;
   margin: 0;
}

.contact-info {
   text-align: left;
}

.contact-info {
   display: grid;
   grid-template-columns: 20% 80%;
}

.contact-details .contact-info li {
   font-family: 'Montserrat', sans-serif;
   font-size: 1.6rem;
   color: #1A1B1D;
   padding-left: 1rem;
   padding-bottom: 3rem;
   list-style-type: none;
}

.contact-svg {
   padding-right: 1rem;
   padding-left: 1rem;
   height: 2.5rem;
}

.contact-svg :hover {
   fill: #AF967C;
}

/* MAP */
.map-location {
   width: 100%;
   height: 40rem;
}

/* Tablet Styles */
@media screen and (min-width: 768px) and (max-width: 1023px) {
   .contact {
      padding-left: 6rem;
      padding-right: 6rem;
   }

   .contact-info {
      display: grid;
      grid-template-columns: 10% 40% 10% 40%;
   }

   .contact-info li {
      border-left: 2px solid #E6E3DD;
   }

   .contact-details::before {
      border: none;
   }

   .contact-info li:first-child, li:nth-child(2), li:nth-child(4), li:nth-child(5), li:nth-child(6), li:nth-child(8) {
      border-left: none;
   }

   .footer-logo {
      font-size: 3rem;
   }
}

/* Desktop Styles */
@media screen and (min-width: 1024px) {
   .contact {
      padding-left: 12rem;
      padding-right: 12rem;
   }

   .contact-info {
      display: grid;
      grid-template-columns: 10% 40% 10% 40%;
   }

   .contact-info li {
      border-left: 2px solid #E6E3DD;
   }

   .contact-details::before {
      border: none;
   }

   .contact-info li:first-child, li:nth-child(2), li:nth-child(4), li:nth-child(5), li:nth-child(6), li:nth-child(8) {
      border-left: none;
   }
}