/* COMPANY INFO */
.company-info {
    padding-bottom: 3rem;
    padding-top: 3rem;
    text-align: center;
}

/* GALLERY */
.main-gallery {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
}

.gallery-container {
    position: relative;
}

.image1, .image2, .image3, .image4, .image5, .image6 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 30rem;
    overflow: hidden;
}

.image1 {
    background-image: url(https://images.unsplash.com/photo-1593835351974-1c99239fed62?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDJ8fHxlbnwwfHx8fHw%3D);
}

.image2 {
    background-image: url(https://images.unsplash.com/photo-1628965882741-570e75becd5d?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8YnJvd258ZW58MHx8MHx8fDA%3D);
}

.image3 {
    background-image: url(https://images.unsplash.com/photo-1619043518800-7f14be467dca?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.image4 {
    background-image: url(https://images.unsplash.com/photo-1598586700390-7172442db3c3?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHx8);
}

.image5 {
    background-image: url(https://images.unsplash.com/photo-1551890946-3e5446d3a71b?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.image6 {
    background-image: url(https://images.unsplash.com/photo-1520295980358-21d438282de6?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8YnJvd258ZW58MHx8MHx8fDA%3D);
}

.gallery-container .overlay {
    background-color: rgba(57, 57, 57, 0.5);
    bottom: 0;
    height: 100%;
    left: 0;
    padding: 1rem;
    position: absolute;
    right: 0;
    transition: transform 0.3s ease-in-out;
}

.gallery-container .overlay h2 {
    color: whitesmoke;
    margin: 0;
    padding-left: 1rem;
    padding-top: 50%;
    text-align: left;
}

.gallery-container .overlay p {
    color: whitesmoke;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

.gallery-container:hover .overlay {
    display: none;
}

.search-icon, .menu-icon {
    box-sizing: content-box;
}

/* TABLET STYLES */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .main-gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .image1, .image2, .image3, .image4, .image5, .image6 {
        min-height: 40rem;
    }

    .grid-item-3 {
        order: 1;
    }

    .grid-item-5, .grid-item-6 {
        order: 2;
    }

    .company-info {
        padding-left: 12rem;
        padding-right: 12rem;
    }

    .tablet-desktop-menu ul {
        margin-bottom: 0;
    }
}

/* DESKTOP STYLES */
@media screen and (min-width: 1024px) {
    .main-gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .image1, .image2, .image3, .image4, .image5, .image6 {
        min-height: 50rem;
    }

    .grid-item-3 {
        order: 1;
    }

    .grid-item-5, .grid-item-6 {
        order: 2;
    }

    .company-info {
        padding-left: 20rem;
        padding-right: 20rem;
    }

    .tablet-desktop-menu ul {
        margin-bottom: 0;
    }
}