/* HEADER */
.main-header {
    align-items: center;
    background-color: whitesmoke;
    box-shadow: 0 3px 0 0 rgba(26, 27, 29, 0.2);
    display: flex;
    height: 7rem;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.brand-name {
    margin: 0;
}

.ig-logo {
    color: #CAB9A8;
    font-family: 'Great Vibes', cursive;
    font-size: 2.5rem;
}

.menu-icon, .search-icon {
    height: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 2rem;
}

svg:hover {
    fill: #AF967C;
}

/* HIDDEN NAV MENU */
.hidden-menu {
    background-color: rgba(245, 245, 245, 0.97);
    bottom: 0;
    left: 0;
    padding: 1.5rem 3rem;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(-100%);
    transition: all 0.40s ease-in-out;
    z-index: 500;
}

.menu-open {
    transform: translateX(-2%);
}

.hidden-menu a,
.hidden-menu a:focus,
.hidden-menu a:visited {
    color: #1A1B1D;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin: 2.5rem auto;
    text-align: center;
    text-decoration: none;
}

.hidden-menu a:hover {
    text-decoration: underline;
    text-underline-offset: 1rem;
}

#menu-close svg {
    height: 2.5rem;
    width: 2.5rem;
}

#menu-close svg :hover {
    fill: #af967c;
}

/* SEARCH BAR */
.search-form {
    display: none;
}

#gallery-menu {
    margin-top: 1rem;
}

.tablet-desktop-menu {
    display: none;
}

/* TABLET STYLES */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .hidden-menu {
        display: none;
    }

    .left-container {
        display: none;
    }

    .main-header .centre-container {
        padding-left: 2rem;
    }

    /* TABLET AND DESKTOP MENU */
    .tablet-desktop-menu {
        display: flex;
        justify-content: space-between;
    }

    .tablet-desktop-menu ul li a {
        color: #1A1B1D;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.6rem;
        list-style-type: none;
        padding-left: 1rem;
        padding-right: 1rem;
        text-decoration: none;
    }

    .tablet-desktop-menu ul li {
        display: inline;
        list-style-type: none;
    }

    ul {
        padding-left: 0;
    }

    .tablet-desktop-menu ul li a:hover {
        text-decoration: underline;
        text-underline-offset: 1rem;
    }

    /* SEARCH BAR */
    .right-container {
        background-color: white;
        border-radius: 3rem;
        border: 1px solid #AF967C;
        display: flex;
        margin-right: 1rem;
        padding: 0.6rem;
    }

    .search-form {
        display: contents;
        padding-left: 2rem;
    }

    .search {
        border: none;
        height: 2rem;
        width: 9rem;
    }

    .search-form:hover .search{
        height: 2rem;
        width: 12rem;
    }
}

/* DESKTOP STYLES */
@media screen and (min-width: 1024px) {
    .hidden-menu {
        display: none;
    }

    .left-container {
        display: none;
    }

    .main-header .centre-container {
        padding-left: 2rem;
    }

    /* TABLET AND DESKTOP MENU */
    .tablet-desktop-menu {
        display: flex;
        justify-content: space-between;
    }

    .tablet-desktop-menu ul li a {
        color: #1A1B1D;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.6rem;
        list-style-type: none;
        padding-left: 1rem;
        padding-right: 1rem;
        text-decoration: none;
    }

    .tablet-desktop-menu ul li {
        display: inline;
        list-style-type: none;
    }

    ul {
        padding-left: 0;
    }

    .tablet-desktop-menu ul li a:hover {
        text-decoration: underline;
        text-underline-offset: 1rem;
    }

    /* SEARCH BAR */
    .right-container {
        background-color: white;
        border-radius: 3rem;
        border: 1px solid #AF967C;
        display: flex;
        margin-right: 1rem;
        padding: 0.6rem;
    }

    .search-form {
        display: contents;
        padding-left: 2rem;
    }

    .search {
        border: none;
        width: 9rem;
    }
}