/* COLOURS 
#E6E3DD
#E1D7C9
#CAB9A8
#AF967C
#1A1B1D - RGB 26, 27, 29
font-family: 'Great Vibes', cursive;
font-family: 'Montserrat', sans-serif; */

/* GENERAL STYLING */
html {
   font-size: 62.5%;
}

body {
   padding: 0;
   margin: 0;
   padding-top: 7rem;
}

.brand-name a {
   text-decoration: none;
   font-family: 'Montserrat', sans-serif;
   font-size: 2rem;
   color: #1A1B1D;
   text-align: center;
   font-weight: bold;
}

.heading-unique, .heading-bespoke, .heading-handcrafted, .heading-two, .gallery-name {
   font-family: 'Montserrat', sans-serif;
   font-size: 2rem;
   color: #1A1B1D;
   text-align: center;
   font-weight: bold;
   line-height: 1.5;
   margin-top: 0;
   margin-bottom: 1.6rem;
}

.footer-logo {
   font-family: 'Great Vibes', cursive;
   font-size: 2rem;
   color: #1A1B1D;
   text-align: center;
}

.ig-paragrah, .footer-contact-info, .footer-copy {
   font-family: 'Montserrat', sans-serif;
   font-size: 1.6rem;
   color: #1A1B1D;
   padding-left: 6rem;
   padding-right: 6rem;
   line-height: 1.5;
   line-height: 1.5;
}
